<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/pagination.css">
    <title>Document</title>
</head>
<body>
    <!-- <br><a href="billing.html">billing</a>
    <br><a href="cart.html">cart</a>
    <br><a href="checkout.html">checkout</a>
    <br><a href="contact.html">contact</a>
    <br><a href="dashboard.html">dashboard</a>
    <br><a href="index">index</a>
    <br><a href="order-management.html">order-management</a>
    <br><a href="otp-confirmation.html">otp-confirmation</a>
    <br><a href="password-creation.html">password creation</a>
    <br><a href="product-detail.html">product-detail</a>
    <br><a href="product-management.html">product-management</a>
    <br><a href="profile.html">profile</a>
    <br><a href="shop.html">shop</a>
    <br><a href="sign-in.html">sign-in</a>
    <br><a href="sign-up.html">sign-up</a>
    <br><a href="users.html">users</a> -->

    <form action="ádasd" method="post">
        <br><input type="text">
        
        <br><input type="email">
        <br><input type="password">
        <br><input type="date">
        <br><input type="color">
        <br><input type="password">
        <br>
        <input type="radio" name="Q1">male
        
        <input type="radio" name="Q1">female
        <br>
        <input type="radio" name="Q2">t
        
        <input type="radio" name="Q2">f

        
        <br>
        <input type="checkbox" name="Q3">t
        
        <input type="checkbox" name="Q3">f

        <select name="" id="">
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
        </select>

        <button type="submit">Submit</button>
    </form>
</body>
</html>