USE [master]
GO
/****** Object:  Database [PRJShop]    Script Date: 6/20/2023 4:35:32 PM ******/
CREATE DATABASE [PRJShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRJShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRJShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRJShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRJShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJShop]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 6/20/2023 4:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[accountId] [int] IDENTITY(1,1) NOT NULL,
	[accountEmail] [nvarchar](200) NULL,
	[accountPassword] [nvarchar](200) NULL,
	[roleId] [int] NULL,
	[accountDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[accountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountContact]    Script Date: 6/20/2023 4:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountContact](
	[accountContactId] [int] IDENTITY(1,1) NOT NULL,
	[accountId] [int] NULL,
	[districtId] [int] NULL,
	[accountContactAddress] [nvarchar](200) NULL,
	[accountContactName] [nvarchar](200) NULL,
	[accountContactMobile] [nvarchar](200) NULL,
	[accountContactDefault] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[accountContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountDetail]    Script Date: 6/20/2023 4:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountDetail](
	[accountDetailId] [int] IDENTITY(1,1) NOT NULL,
	[accountId] [int] NULL,
	[accountDetailName] [nvarchar](200) NULL,
	[accountDetailAvatar] [nvarchar](500) NULL,
	[accountDetailDob] [date] NULL,
	[accountDetailDoc] [date] NULL,
 CONSTRAINT [PK__AccountD__A0EB5AE9B967181A] PRIMARY KEY CLUSTERED 
(
	[accountDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 6/20/2023 4:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryId] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](200) NULL,
	[categoryIcon] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 6/20/2023 4:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[cityId] [int] IDENTITY(1,1) NOT NULL,
	[cityName] [nvarchar](200) NULL,
 CONSTRAINT [PK__City__B4BEB95EAB98D941] PRIMARY KEY CLUSTERED 
(
	[cityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 6/20/2023 4:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[districtId] [int] NOT NULL,
	[cityId] [int] IDENTITY(1,1) NOT NULL,
	[districtName] [nvarchar](200) NULL,
 CONSTRAINT [PK__District__2BAEF71079BFC72F] PRIMARY KEY CLUSTERED 
(
	[districtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 6/20/2023 4:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderId] [int] IDENTITY(1,1) NOT NULL,
	[accountId] [int] NULL,
	[orderCreateDate] [date] NULL,
	[orderExpectedDate] [date] NULL,
	[orderDoneDate] [date] NULL,
	[orderNameContact] [nvarchar](200) NULL,
	[orderPhoneContact] [nvarchar](200) NULL,
	[orderAddressContact] [nvarchar](200) NULL,
	[orderTotalMoney] [int] NULL,
	[orderStatusId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 6/20/2023 4:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[orderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NULL,
	[productId] [int] NULL,
	[orderDetailProductImg] [nvarchar](500) NULL,
	[orderDetailProductName] [nvarchar](200) NULL,
	[orderDetailPriceProduct] [bigint] NULL,
	[orderDetailSizeValue] [nvarchar](200) NULL,
	[orderDetailQuantity] [int] NULL,
	[orderDetailTotalMoney] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 6/20/2023 4:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[orderStatusId] [int] IDENTITY(1,1) NOT NULL,
	[orderStatusName] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[orderStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 6/20/2023 4:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productId] [int] IDENTITY(1,1) NOT NULL,
	[productName] [nvarchar](200) NULL,
	[productImg] [nvarchar](200) NULL,
	[productPrice] [int] NULL,
	[productDescription] [nvarchar](1000) NULL,
	[categoryId] [int] NULL,
	[productIsFeatured] [bit] NULL,
	[productIsRecent] [bit] NULL,
	[productDeleted] [bit] NULL,
	[URL] [nvarchar](1000) NULL,
 CONSTRAINT [PK__Product__2D10D16AAE70013D] PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImgDetail]    Script Date: 6/20/2023 4:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImgDetail](
	[productImgDetailId] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NULL,
	[productImgDetailPath] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[productImgDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSize]    Script Date: 6/20/2023 4:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSize](
	[productSizeId] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NULL,
	[sizeId] [int] NULL,
	[productSizeQuantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[productSizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/20/2023 4:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleId] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 6/20/2023 4:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[sizeId] [int] IDENTITY(1,1) NOT NULL,
	[sizeValue] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[sizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([accountId], [accountEmail], [accountPassword], [roleId], [accountDeleted]) VALUES (1, N'quoc', N'sdasd', 2, 0)
INSERT [dbo].[Account] ([accountId], [accountEmail], [accountPassword], [roleId], [accountDeleted]) VALUES (2, N'quyquoc2002@gmail.com', N'Shironeko02', 2, 0)
INSERT [dbo].[Account] ([accountId], [accountEmail], [accountPassword], [roleId], [accountDeleted]) VALUES (3, N'linhnvhe170399@fpt.edu.vn', N'123', 2, 0)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[AccountContact] ON 

INSERT [dbo].[AccountContact] ([accountContactId], [accountId], [districtId], [accountContactAddress], [accountContactName], [accountContactMobile], [accountContactDefault]) VALUES (1, 3, NULL, N'Tuan cuong', N'Quoc', N'0911092002', 0)
INSERT [dbo].[AccountContact] ([accountContactId], [accountId], [districtId], [accountContactAddress], [accountContactName], [accountContactMobile], [accountContactDefault]) VALUES (2, 3, NULL, N'Hoang Name', N'Huy', N'0123456789', 1)
INSERT [dbo].[AccountContact] ([accountContactId], [accountId], [districtId], [accountContactAddress], [accountContactName], [accountContactMobile], [accountContactDefault]) VALUES (3, 3, NULL, N'bLALA', N'Hoan', N'0982093842', 0)
SET IDENTITY_INSERT [dbo].[AccountContact] OFF
GO
SET IDENTITY_INSERT [dbo].[AccountDetail] ON 

INSERT [dbo].[AccountDetail] ([accountDetailId], [accountId], [accountDetailName], [accountDetailAvatar], [accountDetailDob], [accountDetailDoc]) VALUES (3, 3, N'Linh Linhkkksss', NULL, CAST(N'2023-06-10' AS Date), CAST(N'2023-05-21' AS Date))
INSERT [dbo].[AccountDetail] ([accountDetailId], [accountId], [accountDetailName], [accountDetailAvatar], [accountDetailDob], [accountDetailDoc]) VALUES (4, 4, N'Linh Linh', NULL, NULL, CAST(N'2023-05-23' AS Date))
INSERT [dbo].[AccountDetail] ([accountDetailId], [accountId], [accountDetailName], [accountDetailAvatar], [accountDetailDob], [accountDetailDoc]) VALUES (5, 11, N'Quoc HUY', NULL, NULL, CAST(N'2023-05-28' AS Date))
SET IDENTITY_INSERT [dbo].[AccountDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([categoryId], [categoryName], [categoryIcon]) VALUES (1, N'Shirts', N'assets/img/Heavyweight-100_-Cotton-T-Shirts-with-Pocket---Made-in-USA-Bayside-1651086371_600x.webp')
INSERT [dbo].[Category] ([categoryId], [categoryName], [categoryIcon]) VALUES (2, N'Jeans', N'assets/img/goods_453504_sub14.webp')
INSERT [dbo].[Category] ([categoryId], [categoryName], [categoryIcon]) VALUES (3, N'Swimwear', N'assets/img/fcaaf89478618719fa72e9d2bc9807fd.jpg_1200x1200q80.jpg_.webp')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([cityId], [cityName]) VALUES (1, N'Ha Noi')
INSERT [dbo].[City] ([cityId], [cityName]) VALUES (2, N'Ha Giang')
INSERT [dbo].[City] ([cityId], [cityName]) VALUES (4, N'Cao Bang')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[District] ON 

INSERT [dbo].[District] ([districtId], [cityId], [districtName]) VALUES (1, 1, N'Quan Ba Dinh')
INSERT [dbo].[District] ([districtId], [cityId], [districtName]) VALUES (2, 1, N'Quan Hoan Kiem')
INSERT [dbo].[District] ([districtId], [cityId], [districtName]) VALUES (3, 1, N'Quan Tay Ho')
GO
SET IDENTITY_INSERT [dbo].[District] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (11, N'Áo thun Vans T-Shirts VN0A33ZLBLK', N'assets/img/90ca937454cf107b11a214d9482b0714.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân <br>-
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - <span style="color: red;">Phạm Lịch</span> -
<br>05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 1, 1, 1, 0, N'https://tiki.vn/ao-thun-vans-t-shirts-vn0a33zlblk-p140781238.html?spid=140781347')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (12, N'Áo Thun Nam Ng?n Tay 5S SKATEBOARD, Ch?t Micro Modal, M?n,', N'assets/img/90407b5f64281b287e111fc182a224ee.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 1, 0, 1, 0, N'https://tiki.vn/ao-thun-nam-ngan-tay-5s-skateboard-chat-micro-modal-min-nhe-chong-tia-uv-thiet-ke-tay-raglan-tre-trung-tso23005-p247401421.html?itm_campaign=tiki-reco_UNK_DT_UNK_UNK_similar-products_UNK_similar-products-v1_202305290600_MD_batched_PID.247401433&itm_medium=CPC&itm_source=tiki-reco&spid=247401433')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (13, N'Áo Phông Nam C? B? Tay Ng?n Hàn Qu?c The Shirts Studio TV10A2017', N'assets/img/209a0b57e5486c604d09034148178379.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 1, 0, 1, 0, N'https://tiki.vn/ao-phong-nam-co-be-tay-ngan-han-quoc-the-shirts-studio-tv10a2017-p19807057.html?spid=19807059')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (14, N'Qu?n Jean N? Lung Cao AAA JEANS', N'assets/img/8fe24adcd4ad4c94a9f3fa14449d355c.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 2, 0, 1, 0, N'https://tiki.vn/quan-jean-nu-lung-cao-aaa-jeans-p42712220.html?spid=160606008')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (15, N'Qu?n Jean N? ?ng R?ng Lung Cao Aaa Jeans', N'assets/img/45fc1889b34d853a9bfbcef1dc705a28.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 2, 0, 1, 0, N'https://tiki.vn/quan-jeans-ong-rong-lung-cao-aaa-jeans-p146957711.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.175953_Y.1758280_Z.3386241_CN.2.-Group-Ong-Rong---NEW&itm_medium=CPC&itm_source=tiki-ads&spid=146957734')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (16, N'Qu?n jeans skinny n? cao c?p màu den dáng ôm', N'assets/img/5e66b88dc505e73ed9d059ea2cb9e58a.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 2, 0, 1, 0, N'https://tiki.vn/quan-jeans-skinny-nu-cao-cap-mau-den-dang-om-p249290129.html?itm_campaign=PDP_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.233128_Y.1815448_Z.3679869_CN.Tim-Kiem--31%2F03%2F2023&itm_medium=CPC&itm_source=tiki-ads&spid=249290135')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (17, N'Ð? boi cho nam qu?n l?ng', N'assets/img/2e98f4a0e28c71c3d77c5582a9fcba42.png.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 3, 0, 1, 0, N'https://tiki.vn/do-boi-cho-nam-quan-lung-p49165591.html?spid=49165599')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (18, N'B? d? boi nam dài tay qu?n dài hàng nh?p cao c?p', N'assets/img/fa7e8dcc8344c1e588418d13c0b5e141.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 3, 0, 0, 0, N'https://tiki.vn/bo-do-boi-nam-dai-tay-quan-dai-hang-nhap-cao-cap-p217707406.html?spid=217707418')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (19, N'Ð? boi nam qu?n l?ng áo c?c tay d?p', N'assets/img/a4623ce45edb541ac3273ab9857267a4.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 3, 0, 0, 0, N'https://tiki.vn/do-boi-nam-quan-lung-ao-coc-tay-dep-p180567273.html?spid=180567281')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (20, N'Ð? b? Pijama d? ng? nam cao c?p, v?i COTTON 100 dày d?n & thoáng khí phù h?p cho c? 4 mùa (705)', N'assets/img/009420e1dfe1498d43b2a330777b6c1d.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 4, 0, 0, 0, N'https://tiki.vn/do-bo-pijama-do-ngu-nam-cao-cap-vai-cotton-100-day-dan-thoang-khi-phu-hop-cho-ca-4-mua-705-p90599394.html?spid=90599493')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (21, N'B? d? ng? d? m?c nhà pijama nam QM34 QM94', N'assets/img/bbc507449b933a3fc5ae08566ed086ce.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 4, 0, 0, 0, N'https://tiki.vn/bo-do-ngu-do-mac-nha-pijama-nam-qm34-qm94-p98128247.html?spid=98128437')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (22, N'B? d? pijama nam qu?n dài, tay dài QM500-QM501-QM502', N'assets/img/e6433f043aec97a7208502fd3ff43d27.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 4, 0, 0, 0, N'https://tiki.vn/bo-do-pijama-nam-quan-dai-tay-dai-qm500-qm501-qm502-p176240623.html?itm_campaign=tiki-reco_UNK_DT_UNK_UNK_similar-products_UNK_similar-products-v1_202305290600_MD_batched_PID.176240635&itm_medium=CPC&itm_source=tiki-reco&spid=176240635')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (23, N'B? Qu?n Áo Th? Thao Nam Ch?t Thun Co Giãn, Ð? T?p Gym, Yoga Nam', N'assets/img/56659b9dae2d09ced60a8073de949942.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 5, 0, 0, 0, N'https://tiki.vn/bo-quan-ao-the-thao-nam-chat-thun-co-gian-do-tap-gym-yoga-nam-p73576712.html?spid=73576728')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (24, N'Áo body t?p gym sát nách nam Gymate form ôm th? thao m?nh m? ABSN', N'assets/img/d6a935fd4acd045fd2bf310c2c07dec3.png.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 5, 1, 0, 0, N'https://tiki.vn/ao-body-tap-gym-sat-nach-nam-gymate-form-om-the-thao-manh-me-absn-p144821189.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.211959_Y.1794279_Z.3585209_CN.%C4%90o-nam&itm_medium=CPC&itm_source=tiki-ads&spid=144821209')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (25, N'Áo th? thao nam Cross-training A-DRY FAST Anta 852237140', N'assets/img/78f665f29542fcef2b62a1cd11306e8c.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 5, 1, 0, 0, N'https://tiki.vn/ao-the-thao-nam-cross-training-a-dry-fast-anta-852237140-p242980095.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.234260_Y.1816580_Z.3685595_CN.Ao-nam-04%2F04%2F2023&itm_medium=CPC&itm_source=tiki-ads&spid=242980105')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (26, N'Jumpsuit ng?n hoa c? tim tay ph?ng dính nút tru?c nang d?ng c?c xinh kèm belt GR194- Hình th?t shop ch?p', N'assets/img/3de2d95f962c051cc78f4ce7cc5d0231.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 6, 1, 0, 0, N'https://tiki.vn/jumpsuit-ngan-hoa-co-tim-tay-phong-dinh-nut-truoc-nang-dong-cuc-xinh-kem-belt-gr194-hinh-that-shop-chup-p117079961.html?spid=117079991')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (27, N'jumpsuit tay lu?i th?i trang sang tr?ng', N'assets/img/7591ea69c1c8707d8b0dc51c9ba3ac27.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 6, 1, 0, 0, N'https://tiki.vn/jumpsuit-tay-luoi-thoi-trang-sang-trong-p95474015.html?spid=95474033')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (28, N'Jumpsuit h?a ti?t ch?m bi d?p', N'assets/img/ad0115afb4230b89446d04a8fcdd2bea.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 6, 1, 0, 0, N'https://tiki.vn/jumpsuit-hoa-tiet-cham-bi-dep-p25770315.html?spid=25770317')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (29, N'Áo vest n? blazer hàn qu?c [HÀNG CAO C?P] form chu?n công s? d? ph?i d?', N'assets/img/64b82453aa00cf9676dfffc12cbaaefe.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 7, 1, 0, 0, N'https://tiki.vn/ao-vest-nu-blazer-han-quoc-hang-cao-cap-form-chuan-cong-so-de-phoi-do-p145297132.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.122069_Y.1189348_Z.3105383_CN.Ad-group-122069&itm_medium=CPC&itm_source=tiki-ads&spid=145297136')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (30, N'Áo Blazers sang ch?nh màu Tr?ng và màu Ðen - MIXMIX- hàng thi?t k?', N'assets/img/9812eb1066abe6fd4a8a2c8e69d4e90a.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 7, 1, 0, 0, N'https://tiki.vn/ao-blazers-sang-chanh-mau-trang-va-mau-den-mixmix-hang-thiet-ke-p149414486.html?spid=149414540')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (31, N'Áo Vest M?t L?p 4 Cúc Dáng Ng?n NK FASHION Ki?u Dáng Sang Tr?ng Ch?t V?i Nh?p Hàn Cao C?p UKAK2210002', N'assets/img/0074bacdf692f51d37d590907b234fdb.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 7, 1, 0, 0, N'https://tiki.vn/ao-vest-mot-lop-4-cuc-dang-ngan-nk-fashion-kieu-dang-sang-trong-chat-vai-nhap-han-cao-cap-ukak2210002-p203841838.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.194570_Y.1776897_Z.3549774_CN.AO-VEST&itm_medium=CPC&itm_source=tiki-ads&spid=203841842')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (32, N'Áo Vest Công S? N? NK Fashion Thi?t K? Dáng L?ng Dài Tay Kèm Cúc B?c, Ch?t Li?u Nh?p Hàn Cao C?p NKFAK2109003', N'assets/img/e9f6f54b1bdb083527394c0091dc5aa0.jpg.webp', 2000000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 7, 0, 0, 0, N'https://tiki.vn/ao-vest-cong-so-nu-nk-fashion-thiet-ke-dang-lung-dai-tay-kem-cuc-boc-chat-lieu-nhap-han-cao-cap-nkfak2109003-p134250937.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.194570_Y.1776897_Z.3498628_CN.AO-VEST&itm_medium=CPC&itm_source=tiki-ads&spid=134250942')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (33, N'Áo Thun Local Brand Teeworld Ðúng Nh?n Sai Cãi Nam N? Form R?ng Unisex', N'assets/img/aabc884d66875eb90b989ce0ae0b284c.png.webp', 150000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 1, 0, 0, 0, N'https://tiki.vn/ao-thun-local-brand-teeworld-dung-nhan-sai-cai-nam-nu-form-rong-unisex-p217440155.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.227551_Y.1809871_Z.3654657_CN.Product-Ads-13%2F03%2F2023&itm_medium=CPC&itm_source=tiki-ads&spid=217440157')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (34, N'Áo So Mi Nam Tay Ng?n H?a Ti?t The Shirts Studio Hàn Qu?c TD12F2394RE', N'assets/img/894648f1052b018cab98a17e3cacda4c.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 1, 0, 0, 0, N'https://tiki.vn/ao-so-mi-nam-tay-ngan-hoa-tiet-the-shirts-studio-han-quoc-td12f2394re-p12121014.html?spid=12121016')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (35, N'Áo So Mi Nam Tay Ng?n H?a Ti?t The Shirts Studio Hàn Qu?c TD45F6164RE', N'assets/img/3b446b9d8703bbfad6f87a5e1fb134f0.jpg.webp', 120000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 1, 0, 0, 0, N'https://tiki.vn/ao-so-mi-nam-tay-ngan-hoa-tiet-the-shirts-studio-han-quoc-td45f6164re-p12109524.html?spid=12109528')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (36, N'Áo thun Teeworld Ð?a Nào Làm Em Bu?n Form R?ng Unisex Nam N?', N'assets/img/fa23362bd1917a35efd0b75645e5a27d.jpg.webp', 200000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 1, 0, 0, 0, N'https://tiki.vn/ao-thun-teeworld-dua-nao-lam-em-buon-form-rong-unisex-nam-nu-p194406391.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.227551_Y.1809871_Z.3654655_CN.Product-Ads-13%2F03%2F2023&itm_medium=CPC&itm_source=tiki-ads&spid=194406398')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (37, N'Áo Phông Nam C? B? Tay Ng?n Hàn Qu?c The Shirts Studio TV11A2029', N'assets/img/78344fbb605d734e46fdcab047101738.jpg.webp', 200000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 1, 0, 0, 0, N'https://tiki.vn/ao-phong-nam-co-be-tay-ngan-han-quoc-the-shirts-studio-tv11a2029-p19807070.html?spid=19807074')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (38, N'Áo Thun Nam Có C? 5S, Ch?t Li?u Viscose Cao C?p, M?m, Mát, Nh?, Thi?t K? Ph?i Màu L?ch Lãm (APC23040)', N'assets/img/385b78a8a8556a44f9162df9ee027b09.jpg.webp', 200000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 1, 0, 0, 0, N'https://tiki.vn/ao-thun-nam-co-co-5s-chat-lieu-viscose-cao-cap-mem-mat-nhe-thiet-ke-phoi-mau-lich-lam-apc23040-p250069241.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.247063_Y.1829383_Z.3748186_CN.Ao-thun-nam-co-co-25%2F05%2F2023&itm_medium=CPC&itm_source=tiki-ads&spid=250069259')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (39, N'Mens Workout Running Shirts, Quick Dry Cool Short Sleeve Athletic Shirts, Active Sport Gym T-Shirts', N'assets/img/02501c5ce9608dc5e48450f6fc17d5ed.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 1, 0, 0, 0, N'https://tiki.vn/men-s-workout-running-shirts-quick-dry-cool-short-sleeve-athletic-shirts-active-sport-gym-t-shirts-p178708826.html?spid=178708834')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (40, N'Áo so mi Shirts casual style thô s?c xanh c? 313SH1083 ADORE DRESS', N'assets/img/f5853a785c013f4f2ab46b24f05c9ed1.jpg.webp', 200000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 1, 0, 0, 0, N'https://tiki.vn/ao-so-mi-shirts-casual-style-tho-soc-xanh-co-313sh1083-adore-dress-p259512489.html?spid=259512493')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (41, N'Áo thun nam c? tim ng?n tay d?p nhi?u màu d? size ( có size l?n cho ngu?i 100 kg )', N'assets/img/ff027530e3e2aa36b4b4ac1e69767c1e.jpg.webp', 80000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 1, 0, 0, 0, N'https://tiki.vn/ao-thun-nam-co-tim-ngan-tay-dep-nhieu-mau-du-size-co-size-lon-cho-nguoi-100-kg-p138748093.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.213043_Y.1795363_Z.3590137_CN.nam-ngan-co-tim&itm_medium=CPC&itm_source=tiki-ads&spid=138748274')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (42, N'Áo thun nam polo thêu g?u basic c? b? cao c?p v?i POLY CÁ S?U dày d?n thoáng mát tr? trung nang d?ng - SU 260', N'assets/img/dc63e0524ae0f7b45914eff9325f95e9.jpg.webp', 200000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 1, 0, 0, 0, N'https://tiki.vn/ao-thun-nam-polo-theu-gau-basic-co-be-cao-cap-vai-poly-ca-sau-day-dan-thoang-mat-tre-trung-nang-dong-su-260-p191390722.html?spid=191390781')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (43, N'Qu?n Bò N?, Qu?n Jeans Nu ?Ng R?ng C?p CAo Túi H?p Cho N?', N'assets/img/54eff4ea3ba0345ef0db48bf50db734e.JPG.webp', 250000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 2, 0, 0, 0, N'https://tiki.vn/quan-bo-nu-quan-jeans-nu-ong-rong-cap-cao-tui-hop-cho-nu-p145219113.html?spid=145219119')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (44, N'Qu?n Jean N? ?ng R?ng Lung Cao Aaa Jeans', N'assets/img/532e612efc1319356475895b7eab515a.jpg.webp', 180000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 2, 0, 0, 0, N'https://tiki.vn/quan-jeans-ong-rong-lung-cao-aaa-jeans-p146957711.html?spid=146957765')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (45, N'Qu?n Mom Jeans Classic Blue Aaa Jeans', N'assets/img/8cb72e6d9e65103f7452f90bb59d8842.jpg.webp', 190000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 2, 0, 0, 0, N'https://tiki.vn/quan-mom-jeans-classic-blue-aaa-jeans-p119112669.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.52833_Y.623291_Z.3057893_CN.6.-Mom-jeans&itm_medium=CPC&itm_source=tiki-ads&spid=119112671')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (46, N'Qu?n bò ?ng r?ng n? c?p cao CHERRY qu?n jeans ?ng r?ng lung cao, v?i bò dày d?p , không giãn ,dáng suông T008', N'assets/img/bf7f7c6e655ec27265229a3a20618356.jpg.webp', 200000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 2, 0, 0, 0, N'https://tiki.vn/quan-bo-ong-rong-nu-cap-cao-cherry-quan-jeans-ong-rong-lung-cao-vai-bo-day-dep-khong-gian-dang-suong-t008-p144082317.html?spid=144082547')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (47, N'Qu?n jeans 9 t?c n? ?ng loe màu xanh nh?t', N'assets/img/bd625aef88c9f42f9a4cae43447fa5c8.jpg.webp', 200000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 2, 0, 0, 0, N'https://tiki.vn/quan-jeans-9-tac-nu-ong-loe-mau-xanh-nhat-p83607102.html?spid=83607125')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (48, N'Qu?n jeans skinny n? màu den lung cao chính hãng', N'assets/img/4653f53b4ed4ed1ddb2dc30779ddd242.jpg.webp', 150000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 2, 0, 0, 0, N'https://tiki.vn/quan-jeans-skinny-nu-mau-den-lung-cao-chinh-hang-p51074268.html?spid=51074274')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (49, N'Qu?n jean n? ?ng Baggy YODY ph?i c?p cao phong cách tôn dáng - QJN3076', N'assets/img/ed408813796a6736ed1b285694d31fb9.jpg.webp', 250000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 2, 0, 0, 0, N'https://tiki.vn/quan-jean-nu-ong-baggy-yody-phoi-khuy-cap-vua-phong-cach-ulzzang-han-quoc-hai-mau-cuc-dep-qjn3076-p144870196.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.237897_Y.1820217_Z.3705073_CN.QJN3076-18%2F4&itm_medium=CPC&itm_source=tiki-ads&spid=120527948')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (50, N'Qu?n Jean N? ?ng R?ng Lung Cao Aaa Jeans', N'assets/img/45fc1889b34d853a9bfbcef1dc705a28.jpg.webp', 150000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 2, 0, 0, 0, N'https://tiki.vn/quan-jeans-ong-rong-lung-cao-aaa-jeans-p146957711.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.175953_Y.1758280_Z.3386241_CN.2.-Group-Ong-Rong---NEW&itm_medium=CPC&itm_source=tiki-ads&spid=146957734')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (51, N'Qu?n Jeans N? Dáng Suông Rách 2 G?i Full Size Tr? Trung Cá Tính', N'assets/img/9dd5547b62f7340389ee2892e1c2ecb7.jpg.webp', 180000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 2, 0, 0, 0, N'https://tiki.vn/quan-jeans-nu-dang-suong-rach-2-goi-full-size-tre-trung-ca-tinh-p242698850.html?spid=242698856')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (52, N'Qu?n jeans skinny n? cao c?p màu den dáng ôm', N'assets/img/094498df19fb63715b0c0f491875870b.jpg.webp', 200000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 2, 0, 0, 0, N'https://tiki.vn/quan-jeans-skinny-nu-cao-cap-mau-den-dang-om-p249290129.html?spid=249290143')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (53, N'Qu?n Jeans n? r? Lung Thun-JGIAYDAI', N'assets/img/2c5d9a5f231ba91321cdeaf6a101f049.jpg.webp', 150000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 2, 0, 0, 0, N'https://tiki.vn/quan-jeans-nu-ru-lung-thun-jgiaydai-p102099787.html?spid=102099803')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (54, N'Ð? Boi N? Tay Dài Qu?n Dài N?ng H?ng Ôm Thân G?i C?m AT204 MayHomes Pink Colored Long Sleeves And Long Pants Women Swimwear Set, UPF 50 Sun Protection', N'assets/img/8ba0b292f22882f387c49f38d78ea104.png.webp', 300000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 3, 0, 0, 0, N'https://tiki.vn/do-boi-nu-tay-dai-quan-dai-nang-hong-om-than-goi-cam-at204-mayhomes-pink-colored-long-sleeves-and-long-pants-women-swimware-set-upf-50-sun-protection-p75447661.html?spid=75447665')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (55, N'Ð? Boi N? M?t M?nh Kín Ðáo Ki?u Váy Th? Thao ATI32 MayHomes Women One-Piece Swimwear', N'assets/img/bae83f500461916c631f5843fd383ca2.png.webp', 250000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 3, 0, 0, 0, N'https://tiki.vn/do-boi-nu-mot-manh-kin-dao-kieu-vay-the-thao-ati32-mayhomes-women-one-piece-swimwear-p175173030.html?spid=175173032')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (56, N'Ð? Boi Hai M?nh N? Tay Dài Qu?n Dài H?a Ti?t Lovely Và Hoa Xinh AT228 MayHomes Long Sleeves And Long Pants Women Swimwear With UPF 50 Sun Protection', N'assets/img/dd4db1b1a23558af42a0f2ef56ba874d.png.webp', 250000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 3, 0, 0, 0, N'https://tiki.vn/do-boi-hai-manh-nu-tay-dai-quan-dai-hoa-tiet-lovely-va-hoa-xinh-at228-mayhomes-long-sleeves-and-long-pants-women-swimwear-with-upf-50-sun-protection-p182995569.html?spid=182995626')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (57, N'Bikini Hai M?nh Tôn Dáng D? Thuong AT222 MayHomes Ð? Boi N? Two-Piece Swimwear', N'assets/img/d50ee7738b9f5256b78c1f329cb40518.png.webp', 250000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 3, 0, 0, 0, N'https://tiki.vn/bikini-hai-manh-ton-dang-de-thuong-at222-mayhomes-do-boi-nu-two-piece-swimwear-p177264017.html?spid=177264021')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (58, N'Ð? Boi N? Hai M?nh Ki?u Dáng Th? Thao Ða Nang ATO67 MayHomes Set Áo Và Short Women Swimwear', N'assets/img/670636b057cf4065ee6e30de00d77cb5.png.webp', 200000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 3, 0, 0, 0, N'https://tiki.vn/do-boi-nu-hai-manh-kieu-dang-the-thao-da-nang-ato67-mayhomes-set-ao-va-short-women-swimwear-p176710545.html?spid=176710549')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (59, N'Ð? Boi Hai M?nh Th? Thao Tr? Trung AT219 Áo T?m Ða Nang Women Short Swimwear Set For Swimming And Sports', N'assets/img/757aa2d8e6c5c8578f360ff16868156f.png.webp', 200000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 3, 0, 0, 0, N'https://tiki.vn/do-boi-hai-manh-the-thao-tre-trung-at219-ao-tam-da-nang-danh-cho-boi-loi-the-thao-women-short-swimwear-set-for-swimming-and-sports-p168092538.html?spid=168092540')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (60, N'Ð? Boi N? Hai M?nh Cute Tôn Dáng Ki?u Croptop AT220 MayHomes Áo T?m Women Swimwear Set', N'assets/img/0b69535ba0b0168ae494b7ce16eb061a.png.webp', 200000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 3, 0, 0, 0, N'https://tiki.vn/do-boi-nu-hai-manh-cute-ton-dang-kieu-croptop-at220-mayhomes-ao-tam-women-swimwear-set-p168356585.html?spid=168356587')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (61, N'Ð? Boi N? Hai M?nh Tay Dài Ch?ng N?ng Bi?n Xanh Áo Dài Tay Qu?n Lung Cao Tuoi Tr? ATI87 MayHomes, Sun Protection UPF50+, Long-Sleeve Swimwear', N'assets/img/ae449321fd4c8a082602af6a88e63096.png.webp', 200000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 3, 0, 0, 0, N'https://tiki.vn/do-boi-nu-hai-manh-tay-dai-chong-nang-bien-xanh-ao-dai-tay-quan-lung-cao-tuoi-tre-ati87-mayhomes-sun-protection-upf50-long-sleeve-swimwear-p186749768.html?spid=186749776')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (62, N'Bikini Hai M?nh G?i C?m Phong Cách Korea AT224 MayHomes Ð? Boi N? Women Two-Piece Swimwear', N'assets/img/b8bb0edd27413382239c3749ea598301.jpg.webp', 150000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 3, 0, 0, 0, N'https://tiki.vn/bikini-hai-manh-goi-cam-phong-cach-korea-at224-mayhomes-do-boi-nu-women-two-piece-swimwear-p177267838.html?spid=177267842')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (63, N'Ð? Boi N? M?t M?nh Ki?u Váy Hoa H? Lung G?i C?m ATI27 MayHomes One-Piece Swimwear With Backless Top', N'assets/img/ddf4e916aa4a6abe4a38ec0c8930cf5d.png.webp', 180000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 3, 0, 0, 0, N'https://tiki.vn/do-boi-nu-mot-manh-kieu-vay-hoa-ho-lung-goi-cam-ati27-mayhomes-one-piece-swimwear-with-backless-top-p176775679.html?spid=176775683')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (64, N'Ð? Boi Bikini Cao C?p Màu Ðen S?c Swimwear By Sabina SAWK009BK', N'assets/img/196fbb73e6fa5d8e91e1ec771d2ce674.jpg.webp', 180000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 3, 0, 0, 0, N'https://tiki.vn/do-boi-bikini-cao-cap-mau-den-soc-swimwear-by-sabina-sawk009bk-p73571982.html?spid=73571986')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (65, N'Lovely Sleepwear', N'assets/img/ef6d716951f951d477fbb5eae7d37352.jpg.webp', 250000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 4, 0, 0, 0, N'https://tiki.vn/lovely-sleepwear-p125438068.html?spid=125438073')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (66, N'Lovely Sleepwear', N'assets/img/070ebd172aa19fa73e64dad43ecd02d6.jpg.webp', 200000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 4, 0, 0, 0, N'https://tiki.vn/lovely-sleepwear-p125438779.html?spid=125438789')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (67, N'Silk Satin Sleepwear', N'assets/img/99aa4e3f5c9dddb8a08a8ad5eafb9724.jpg.webp', 180000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 4, 0, 0, 0, N'https://tiki.vn/silk-satin-sleepwear-p125439530.html?spid=125439532')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (68, N'Silk Satin Sleepwear', N'assets/img/4e9ba255acefd0b93c638f2e5661d66c.jpg.webp', 220000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 4, 0, 0, 0, N'https://tiki.vn/silk-satin-sleepwear-p125439545.html?spid=125439549')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (69, N'Line Strawberry Sleepwear', N'assets/img/125a9081016ab553f1721588acb5684d.jpg.webp', 230000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 4, 0, 0, 0, N'https://tiki.vn/line-strawberry-sleepwear-p125439001.html?spid=125439033')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (70, N'Silk Satin Sleepwear', N'assets/img/35ae5dc7d2cacff4e6e9158edc9d3ff9.jpg.webp', 250000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 4, 0, 0, 0, N'https://tiki.vn/silk-satin-sleepwear-p125438516.html?spid=125438525')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (71, N'Lace Trim Lingerie Satin Sleepwear', N'assets/img/2e4b8c8e9467c17200b142a4776491d7.jpg.webp', 250000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 4, 0, 0, 0, N'https://tiki.vn/lace-trim-lingerie-satin-sleepwear-p209567038.html?spid=209567051')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (72, N'Dress Nightgown Sleepwear Pajama W/ Chest Pads for', N'assets/img/5454ccba3d060f1cbbe46af411ad11ae.jpg.webp', 180000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 4, 0, 0, 0, N'https://tiki.vn/dress-nightgown-sleepwear-pajama-w-chest-pads-for-p209555294.html?spid=209555302')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (73, N'Womens Lingerie Sleepwear Satin Bowknot Lace Cami Dress', N'assets/img/e549d0ebc24bbfa6b7407dffeb302722.jpg.webp', 200000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 4, 0, 0, 0, N'https://tiki.vn/womens-lingerie-sleepwear-satin-bowknot-lace-cami-dress-p252926628.html?spid=252926632')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (74, N'7Pieces Womens Pajamas Set Printed Sleepwear Suits Loungewear', N'assets/img/ec187f168d8c724614af8cb691342a55.jpg.webp', 180000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 4, 0, 0, 0, N'https://tiki.vn/7pieces-womens-pajamas-set-printed-sleepwear-suits-loungewear-p76302237.html?spid=76302267')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (75, N'SX 15 - Váy ng? sexy QU?NG CHÂU - MU?I SLEEPWEAR', N'assets/img/45d3f4ae50e25806e872d42dc9b46c0e.jpg.webp', 200000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 4, 0, 0, 0, N'https://tiki.vn/sx-15-vay-ngu-sexy-quang-chau-muoi-sleepwear-p190207934.html?spid=190207940')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (76, N'Womans Cycling Clothing Bicycle Jersey Sportswear Long Sleeve Top Shirt', N'assets/img/19c947c78a49ab4eb26f39902b783fca.jpg.webp', 300000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 5, 0, 0, 0, N'https://tiki.vn/woman-s-cycling-clothing-bicycle-jersey-sportswear-long-sleeve-top-shirt-p97426107.html?spid=97426109')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (77, N'Set d? t?p Yoga Gym thi?t k? cao c?p Hibi Sports Áo 2 dây c? y?m - Qu?n lung cao nâng mông tôn dáng H110 - Áo có mút nâng ng?c', N'assets/img/2c488387fa3cd44a9cc94b801d556b3f.jpg.webp', 280000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 5, 0, 0, 0, N'https://tiki.vn/set-do-tap-yoga-gym-thiet-ke-cao-cap-hibi-sports-ao-2-day-co-yem-quan-lung-cao-nang-mong-ton-dang-h110-ao-co-mut-nang-nguc-p52239430.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.198960_Y.1781280_Z.3522195_CN.01.-H101-H110-H112-H126-H128-H133-H134&itm_medium=CPC&itm_source=tiki-ads&spid=200765504')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (78, N'Women Sports Leggings Printed Tight Sportswear for Yoga Running Workout', N'assets/img/c650e4535672f579fc42035f0fdecff8.jpg.webp', 200000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 5, 0, 0, 0, N'https://tiki.vn/women-sports-leggings-printed-tight-sportswear-for-yoga-running-workout-p217121933.html?spid=217121935')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (79, N'Qu?n t?p Yoga Gym l?ng dành cho n? Hibi Sports QL404 - Qu?n lung cao có túi', N'assets/img/4a7bcb0dae272c90134284bd602c7cfc.jpg.webp', 250000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 5, 0, 0, 0, N'https://tiki.vn/quan-tap-yoga-gym-lung-danh-cho-nu-hibi-sports-ql404-quan-lung-cao-co-tui-p92228061.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.124869_Y.1228409_Z.2825170_CN.07.-Quan-le&itm_medium=CPC&itm_source=tiki-ads&spid=92228063')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (80, N'Set d? t?p Yoga Hibi Sports H134 - Áo bra 2 dây dan tam giác - Kèm mút nâng ng?c', N'assets/img/71432c3495dc7ea410d1fed4abde253f.jpg.webp', 230000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 5, 0, 0, 0, N'https://tiki.vn/set-do-tap-yoga-hibi-sports-h134-ao-bra-2-day-dan-tam-giac-kem-mut-nang-nguc-p91774649.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.198960_Y.1781280_Z.3522200_CN.01.-H101-H110-H112-H126-H128-H133-H134&itm_medium=CPC&itm_source=tiki-ads&spid=91774651')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (81, N'2 Packs Cycling Sleeveless Vest Cyclists Sportswear M-Black+Green', N'assets/img/0b73cd55c3bac10f046657dbe946212e.jpg.webp', 350000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 5, 0, 0, 0, N'https://tiki.vn/2-packs-cycling-sleeveless-vest-cyclists-sportswear-m-black-green-p80625456.html?spid=80625457')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (82, N'Mens Cycling Shorts Loose-Fit Bicycle MTB Mountain Bike Lightweight Pants Sportswear - Various Sizes', N'assets/img/e969f698ce9c49230d499494b9c0babe.jpg.webp', 180000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 5, 0, 0, 0, N'https://tiki.vn/men-s-cycling-shorts-loose-fit-bicycle-mtb-mountain-bike-lightweight-pants-sportswear-various-sizes-p109631539.html?spid=109631564')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (83, N'Áo t?p Yoga Gym dây ph?i tr?ng BA507 Hibi Sports - Có mút nâng ng?c bên trong', N'assets/img/f7ec94a658900d0cf299cd7f0f8b5542.jpg.webp', 250000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 5, 0, 0, 0, N'https://tiki.vn/ao-tap-yoga-gym-day-phoi-trang-ba507-hibi-sports-co-mut-nang-nguc-ben-trong-p114230666.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.66661_Y.583175_Z.2892317_CN.05.-Ao-tap&itm_medium=CPC&itm_source=tiki-ads&spid=114230716')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (84, N'Set Qu?n áo t?p Yoga Gym dùi 6 dây thi?t k? cao c?p Hibi Sports Áo 6 dây dan - Qu?n lung cao ngang g?i nang d?ng H112 - Áo có mút nâng ng?c', N'assets/img/830913efcf9e6564dfd27645261113c9.jpg.webp', 350000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 5, 0, 0, 0, N'https://tiki.vn/set-quan-ao-tap-yoga-gym-dui-6-day-thiet-ke-cao-cap-hibi-sports-ao-6-day-dan-quan-lung-cao-ngang-goi-nang-dong-h112-ao-co-mut-nang-nguc-p52702689.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.198960_Y.1781280_Z.3522196_CN.01.-H101-H110-H112-H126-H128-H133-H134&itm_medium=CPC&itm_source=tiki-ads&spid=52702715')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (85, N'Womens Leggings - No See-Through High Waisted Tummy Control Yoga Pants - Workout Running Legging Sportswear', N'assets/img/c0700cd16b800bb01449968a4e48dac4.jpg.webp', 250000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 5, 0, 0, 0, N'https://tiki.vn/womens-leggings-no-see-through-high-waisted-tummy-control-yoga-pants-workout-running-legging-sportswear-p99367368.html?spid=99367370')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (86, N'Set d? t?p Yoga Gym 8 dây Thi?t k? cao c?p Hibi Sports Mã H101 - Áo bra 8 dây - Qu?n lung cao ph?i lu?i tôn dáng - Áo có mút nâng ng?c', N'assets/img/432c8b64162972deb9455278d35277a0.jpg.webp', 180000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 5, 0, 0, 0, N'https://tiki.vn/set-do-tap-yoga-gym-8-day-thiet-ke-cao-cap-hibi-sports-ma-h101-ao-bra-8-day-quan-lung-cao-phoi-luoi-ton-dang-ao-co-mut-nang-nguc-p57789702.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.198960_Y.1781280_Z.3522194_CN.01.-H101-H110-H112-H126-H128-H133-H134&itm_medium=CPC&itm_source=tiki-ads&spid=57789722')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (87, N'Áo Thun Nam S?c Gân To Ng?n Tay C? Tròn - X9 Sportswear - X030', N'assets/img/f26be22fc45406fad859e27bcf33ba14.jpg.webp', 300000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 5, 0, 0, 0, N'https://tiki.vn/ao-thun-nam-soc-gan-to-ngan-tay-co-tron-x9-sportswear-x030-p212470488.html?spid=212470498')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (88, N'Jumpsuits ?ng R?ng C?t No Eo (KE`M VIDEO CÂ?N CHÂ´T VA?I)', N'assets/img/0f425d15b78bf53c235d9a212b64c5a6.jpg.webp', 300000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 6, 0, 0, 0, N'https://tiki.vn/jumpsuits-ong-rong-cot-no-eo-thun-deo-in-3d-hau-nguyen-store-p128626304.html?spid=128626305')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (89, N'[Có s?n + V?i Form d?p] Set Jumpsuits Áo li?n qu?n túi h?p dài tay có tách ?ng r?i ph?i dây dù c?c ch?t cho Nam N?', N'assets/img/ee8bc38439923862eeabab05226a1eac.jpg.webp', 350000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 6, 0, 0, 0, N'https://tiki.vn/co-san-vai-form-dep-set-jumpsuits-ao-lien-quan-tui-hop-dai-tay-co-tach-ong-roi-phoi-day-du-cuc-chat-cho-nam-nu-p165807675.html?spid=165807681')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (90, N'JUMPSUITS CÔNG S? T?O DÁNG CAO_NHI?U SIZE CHO NGU?I M?P_TB 206', N'assets/img/70b813a07ecb7d3cf208e033233b02b1.jpg.webp', 230000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 6, 0, 0, 0, N'https://tiki.vn/jumpsuits-cong-so-tao-dang-cao_nhieu-size-cho-nguoi-map_tb-206-p37402341.html?spid=37402345')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (91, N'Jumpsuits L?a So Mi Xòe In H?a Ti?t[Hàng Thi?t K?]', N'assets/img/0fce4bbd5035fe9fcce7662dc10a5b4f.jpg.webp', 250000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 6, 0, 0, 0, N'https://tiki.vn/jumpsuits-lua-so-mi-xoe-in-hoa-tiet-hang-thiet-ke-p129955399.html?spid=129955407')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (92, N'Jumpsuits Tr? Vai Eo Thun H?a Ti?t Ch?m Bi Duyên Dáng', N'assets/img/8abe0dcb0a26f610656de8de64b79707.jpg.webp', 180000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 6, 0, 0, 0, N'https://tiki.vn/jumpsuits-tre-vai-eo-thun-hoa-tiet-cham-bi-duyen-dang-p114655184.html?spid=114655186')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (93, N'Jumpsuits Th?i Trang N?', N'assets/img/96848dc3ebf3f847e6fbd47591a15490.jpg.webp', 200000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 6, 0, 0, 0, N'https://tiki.vn/jumpsuits-thoi-trang-nu-p54008313.html?spid=71965934')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (94, N'JUMPSUITS Ð? BAY QU?N NG?N H?NG SUÔNG TRON C? SO MI VEST PLAYSUITS ÐI TI?C ÐI CHOI D?O PH? ÐI BI?N', N'assets/img/e409407cf6b06c4b48366914a82d5bd9.jpg.webp', 230000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 6, 0, 0, 0, N'https://tiki.vn/jumpsuits-do-bay-quan-ngan-hong-suong-tron-co-so-mi-vest-playsuits-di-tiec-di-choi-dao-pho-di-bien-p248934394.html?spid=248934395')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (95, N'Jumpsuits Dài C? Vest Th?i Trang', N'assets/img/30f7beb62d38e7c0b8c3d0f5b9f5e814.jpg.webp', 200000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 6, 0, 0, 0, N'https://tiki.vn/jumpsuits-dai-co-vest-thoi-trang-p115241437.html?spid=115241438')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (96, N'Jumpsuits hàng thi?t k? màu cam', N'assets/img/9c98f36bd612ce429d0261a69ced314d.jpg.webp', 200000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 6, 0, 0, 0, N'https://tiki.vn/jumpsuits-hang-thiet-ke-mau-cam-p92090309.html?spid=92090310')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (97, N'Jumpsuits d? ti?c Wabisaib N1011', N'assets/img/e81debf7911309d8b4bd6f0c748c7050.jpg.webp', 250000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 6, 0, 0, 0, N'https://tiki.vn/jumpsuits-du-tiec-wabisaib-n1011-p193578515.html?spid=193578558')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (98, N'Set Jumpsuits Jeans N? S524 - Free Size', N'assets/img/5a7d24c4a1b2a1363bb4259c2c58e281.jpg.webp', 180000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 6, 0, 0, 0, N'https://tiki.vn/set-jumpsuits-jeans-nu-s524-free-size-p10142675.html?spid=10142676')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (99, N'Jumpsuits Dài C? Y?m Ðính H?t Duyên Dáng', N'assets/img/b5b6d7c3e80ad94c0b92dd25a4d6ef26.jpg.webp', 200000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 6, 0, 0, 0, N'https://tiki.vn/jumpsuits-dai-co-yem-dinh-hat-duyen-dang-p114578864.html?spid=114578865')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (100, N'Áo khoác blazers big size (MS 3001)', N'assets/img/f873d4eab14424229deaa326b7dcd91e.jpg.webp', 230000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 7, 0, 0, 0, N'https://tiki.vn/ao-khoac-blazers-big-size-ms-3001-p143761290.html?spid=143761298')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (101, N'Áo Blazers sang ch?nh màu Tr?ng và màu Ðen - MIXMIX- hàng thi?t k?', N'assets/img/9812eb1066abe6fd4a8a2c8e69d4e90a.jpg.webp', 300000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 7, 0, 0, 0, N'https://tiki.vn/ao-blazers-sang-chanh-mau-trang-va-mau-den-mixmix-hang-thiet-ke-p149414486.html?spid=149414540')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (102, N'ÁO KHOÁC BLAZERS FASHION', N'assets/img/bcb36706f917e2b9084ef37f7bc850be.jpg.webp', 230000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 7, 0, 0, 0, N'https://tiki.vn/ao-khoac-blazers-fashion-p107541500.html?spid=107541557')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (103, N'ÁO BLAZERS 3 MÀU CO B?N', N'assets/img/c94d64a4e76bfaa5a5e81578335e782c.jpg.webp', 180000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 7, 0, 0, 0, N'https://tiki.vn/ao-blazers-3-mau-co-ban-p92949212.html?spid=92949219')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (104, N'Áo Vest M?t L?p 4 Cúc Dáng Ng?n NK FASHION Ki?u Dáng Sang Tr?ng Ch?t V?i Nh?p Hàn Cao C?p UKAK2210002', N'assets/img/0074bacdf692f51d37d590907b234fdb.jpg.webp', 230000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 7, 0, 0, 0, N'https://tiki.vn/ao-vest-mot-lop-4-cuc-dang-ngan-nk-fashion-kieu-dang-sang-trong-chat-vai-nhap-han-cao-cap-ukak2210002-p203841838.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.194570_Y.1776897_Z.3549774_CN.AO-VEST&itm_medium=CPC&itm_source=tiki-ads&spid=203841842')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (105, N'Áo Thun Nam ERIC 5S (6 Màu) Ch?t Li?u Thoáng Mát, Co Giãn T?t, Th?m Hút M? Hôi, Tho?i Mái V?n Ð?ng (TSO22098-02)', N'assets/img/5a9ae81ff4fa29615cfe1c72783a0696.png.webp', 180000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 1, 0, 0, 0, N'https://tiki.vn/ao-thun-nam-eric-5s-6-mau-chat-lieu-thoang-mat-co-gian-tot-tham-hut-mo-hoi-thoai-mai-van-dong-tso22098-02-p174489321.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.231092_Y.1813412_Z.3673390_CN.%5BApr-%2723%5D-Ao-thun-nam-ngan-tay-khong-co&itm_medium=CPC&itm_source=tiki-ads&spid=174489339')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (106, N'Áo thun tron Teeworld Basic Nam N? Nhi?u Màu Form R?ng Unisex', N'assets/img/8542759d4b8a3779293ffb4a8acedf1c.png.webp', 170000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 1, 0, 0, 0, N'https://tiki.vn/ao-thun-tron-teeworld-basic-nam-nu-nhieu-mau-form-rong-unisex-p211296548.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.227551_Y.1809871_Z.3654658_CN.Product-Ads-13%2F03%2F2023&itm_medium=CPC&itm_source=tiki-ads&spid=195352196')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (107, N'Áo thun tron nam ZAVAS, c? tròn ng?n tay ch?t v?i cotton cao c?p, áo phông tiêu chu?n thoáng mát th?m hút m? hôi không gây nóng n?c, co giãn t?t - ZT01', N'assets/img/f1e0f971d77c4839a2f19870da5ca4f1.jpg.webp', 150000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 1, 0, 0, 0, N'https://tiki.vn/ao-thun-tron-nam-zavas-co-tron-ngan-tay-chat-vai-cotton-cao-cap-ao-phong-tieu-chuan-thoang-mat-tham-hut-mo-hoi-khong-gay-nong-nuc-co-gian-tot-zt01-p158720374.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.228535_Y.1810855_Z.3659009_CN.ZT01-17%2F03%2F2023&itm_medium=CPC&itm_source=tiki-ads&spid=158720378')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (108, N'Áo Phông Nam Tay Ng?n 5S Ph?i Màu, V?i Cotton Premium Cao C?p, Thoáng Mát, Tr? Trung (00TSO23001)', N'assets/img/cebd2d94ba6fc4aac137070d407a06d1.jpg.webp', 180000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 1, 0, 0, 0, N'https://tiki.vn/ao-phong-nam-tay-ngan-5s-phoi-mau-vai-cotton-premium-cao-cap-thoang-mat-tre-trung-00tso23001-p251335666.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.231092_Y.1813412_Z.3710283_CN.%5BApr-%2723%5D-Ao-thun-nam-ngan-tay-khong-co&itm_medium=CPC&itm_source=tiki-ads&spid=251335676')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (109, N'Womens Letter Print Short Sleeve Crewneck Cotton Casual T-Shirts', N'assets/img/d8cfa05855bf17b649970774750059b8.jpg.webp', 130000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 1, 0, 0, 0, N'https://tiki.vn/women-s-letter-print-short-sleeve-crewneck-cotton-casual-t-shirts-p112946855.html?spid=112946857')
GO
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (110, N'Áo Thun Nam Ng?n Tay 5S FUTURE, Ch?t Cotton USA, M?m M?n, Th?m Hút, Mát, Co Giãn, In Tr? Trung (TSO23017)', N'assets/img/7dabc89fb055e3180d66a51d91955636.jpg.webp', 130000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 1, 0, 0, 0, N'https://tiki.vn/ao-thun-nam-ngan-tay-5s-future-chat-cotton-usa-mem-min-tham-hut-mat-co-gian-in-tre-trung-tso23017-p241732326.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.231092_Y.1813412_Z.3673389_CN.%5BApr-%2723%5D-Ao-thun-nam-ngan-tay-khong-co&itm_medium=CPC&itm_source=tiki-ads&spid=241732328')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (111, N'Mens Cotton -Shirts Women Modal Shirt Plain T Shirt Tee', N'assets/img/27c2ab5636960600ca92f171e8dd1220.jpg.webp', 100000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 1, 0, 0, 0, N'https://tiki.vn/mens-cotton-shirts-women-modal-shirt-plain-t-shirt-tee-p252931375.html?spid=252931402')
INSERT [dbo].[Product] ([productId], [productName], [productImg], [productPrice], [productDescription], [categoryId], [productIsFeatured], [productIsRecent], [productDeleted], [URL]) VALUES (112, N'Golf Silk Shirt Golf Bottoming Shirts Sunscreen Tops for Golfing', N'assets/img/04c19e51c65f7e2426d72db5e15bf705.jpg.webp', 400000, N'01. Bật Tình Yêu Lên - Hòa Minzy x Tăng Duy Tân -
02. Gió - JanK -
03. Bo Xì Bo - Hoàng Thùy Linh -
04. Là Anh - Phạm Lịch -
05. Yêu Anh Đi Mẹ Anh Bán Bánh Mì - Phúc Du -', 1, 0, 0, 0, N'https://tiki.vn/golf-silk-shirt-golf-bottoming-shirts-sunscreen-tops-for-golfing-p251423397.html?spid=251423417')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImgDetail] ON 

INSERT [dbo].[ProductImgDetail] ([productImgDetailId], [productId], [productImgDetailPath]) VALUES (1, 11, N'assets/img/pdetail/90ca937454cf107b11a214d9482b071411.jpg.webp')
INSERT [dbo].[ProductImgDetail] ([productImgDetailId], [productId], [productImgDetailPath]) VALUES (2, 11, N'assets/img/pdetail/7885a77f2854bf30ac237486e1b2e46811.jpg.webp')
INSERT [dbo].[ProductImgDetail] ([productImgDetailId], [productId], [productImgDetailPath]) VALUES (3, 11, N'assets/img/pdetail/c37cfdbf99d76eca70a580351a81b8f511.jpg.webp')
GO
SET IDENTITY_INSERT [dbo].[ProductImgDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSize] ON 

INSERT [dbo].[ProductSize] ([productSizeId], [productId], [sizeId], [productSizeQuantity]) VALUES (1, 11, 1, 19)
INSERT [dbo].[ProductSize] ([productSizeId], [productId], [sizeId], [productSizeQuantity]) VALUES (2, 11, 2, 20)
INSERT [dbo].[ProductSize] ([productSizeId], [productId], [sizeId], [productSizeQuantity]) VALUES (3, 11, 3, 21)
GO
SET IDENTITY_INSERT [dbo].[ProductSize] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([roleId], [roleName]) VALUES (1, N'ADMIN')
INSERT [dbo].[Role] ([roleId], [roleName]) VALUES (2, N'USER')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Size] ON 

INSERT [dbo].[Size] ([sizeId], [sizeValue]) VALUES (1, N'S')
INSERT [dbo].[Size] ([sizeId], [sizeValue]) VALUES (2, N'M')
INSERT [dbo].[Size] ([sizeId], [sizeValue]) VALUES (3, N'L')
SET IDENTITY_INSERT [dbo].[Size] OFF
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([roleId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[AccountContact]  WITH CHECK ADD  CONSTRAINT [FK_AccountContact_Account] FOREIGN KEY([accountId])
REFERENCES [dbo].[Account] ([accountId])
GO
ALTER TABLE [dbo].[AccountContact] CHECK CONSTRAINT [FK_AccountContact_Account]
GO
ALTER TABLE [dbo].[AccountContact]  WITH CHECK ADD  CONSTRAINT [FK_AccountContact_District] FOREIGN KEY([districtId])
REFERENCES [dbo].[District] ([districtId])
GO
ALTER TABLE [dbo].[AccountContact] CHECK CONSTRAINT [FK_AccountContact_District]
GO
ALTER TABLE [dbo].[AccountDetail]  WITH CHECK ADD  CONSTRAINT [FK_AccountDetail_Account] FOREIGN KEY([accountId])
REFERENCES [dbo].[Account] ([accountId])
GO
ALTER TABLE [dbo].[AccountDetail] CHECK CONSTRAINT [FK_AccountDetail_Account]
GO
ALTER TABLE [dbo].[District]  WITH CHECK ADD  CONSTRAINT [FK_District_City] FOREIGN KEY([cityId])
REFERENCES [dbo].[City] ([cityId])
GO
ALTER TABLE [dbo].[District] CHECK CONSTRAINT [FK_District_City]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([accountId])
REFERENCES [dbo].[Account] ([accountId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderStatus] FOREIGN KEY([orderStatusId])
REFERENCES [dbo].[OrderStatus] ([orderStatusId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderStatus]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order] ([orderId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([productId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([categoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[ProductImgDetail]  WITH CHECK ADD  CONSTRAINT [FK_ProductImgDetail_Product] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([productId])
GO
ALTER TABLE [dbo].[ProductImgDetail] CHECK CONSTRAINT [FK_ProductImgDetail_Product]
GO
ALTER TABLE [dbo].[ProductSize]  WITH CHECK ADD  CONSTRAINT [FK_ProductSize_Product] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([productId])
GO
ALTER TABLE [dbo].[ProductSize] CHECK CONSTRAINT [FK_ProductSize_Product]
GO
ALTER TABLE [dbo].[ProductSize]  WITH CHECK ADD  CONSTRAINT [FK_ProductSize_Size] FOREIGN KEY([sizeId])
REFERENCES [dbo].[Size] ([sizeId])
GO
ALTER TABLE [dbo].[ProductSize] CHECK CONSTRAINT [FK_ProductSize_Size]
GO
USE [master]
GO
